


.allContainer{
    background-color: #ee9c30;
}
.cardPassforget{
    height: 80%;
    width: 50%;
   
}


.buttonForget{
    border-radius: 6px;
    background-color: black;
    color: white;
    padding: 2px;
    width: 50%;
    margin-bottom: 50px;
}


.labelPassforget{
    width: 50%;
}


/* .form_group{
        position: relative;
} */

.inputPassforget{
    width: 50%;
   
    border: none;
    outline: none;
    border-bottom: 1px solid ;    
    cursor: pointer;

}
/* 
.form_label{

    cursor: pointer;
    position:absolute;
    
    left: 5px;
    transform: translateY(10px);
    transition:transform .5s,color .3s;
}


.form_line{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:aliceblue;
} */
