

th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: justify;
  }
  
  .my-table th,
  .my-table td {
    padding: 8px ;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .my-table th {
    background-color: #f8b55d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  .my-table tbody tr:nth-child(even) {
    background-color: #ffe7cb;
  }
  
  .my-table tbody tr:hover {
    background-color: #ffd89e;
  }
  
  .my-table tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 8px;
  }
  
  @media (max-width: 600px) {
    .my-table {
      font-size: 14px;
    }
  
    .my-table th,
    .my-table td {
      padding: 8px 12px;
    }
  
    .my-table tbody td:before {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
  