.purchase-cards{
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    
}

    .purchase-card{
        border-color:rgb(136, 128, 128);
        border-radius: 5px;
        border-width: 3px;
        border-style: outset;
        margin: auto auto;
        text-align: center;
        grid-template-columns: repeat(2,1fr);
        grid-gap:1px;
        margin: 5%;
        cursor:default;
        align-items: center;
    }

        .stack-1{
            color: rgb(0, 0, 0);
            padding-top: 15px;
            padding-left: 40px;
            padding-right: 10px;
            
        }

            .ID-purchase{
                display: left;
                font-size: 20px;
                padding: 0;
            }

            .date-time{
                margin: auto;
                display: flex;
                font-size: 20px;
            }

            .total-value{
                color:red;
                margin: auto;
                display: left;
                font-size: 20px;
            }

        .stack-2{
            color: rgb(90, 90, 90);
            margin-left:40px;
        }

            .sub-titles-quantity{
                font-size:20px;
                font-style: italic;
            }

            .sub-titles-image{
                font-size:20px;
                font-style: italic;
            }

            .sub-titles-product{
                font-size:20px;
                font-style: italic;
            }

            .sub-titles-basePrice{
                font-size:20px;
                font-style: italic;
            }

            .sub-titles-Final{
                font-size:20px;
                font-style: italic;
            }

    .product-show{
        display: center;
        font-size: 18px;
    }

        .stack-3{
            margin-top:15px;
            color:black; 
            padding:auto auto;
            margin-left:20px;  
            padding:0.2em;          
        }

            .quantity{
                font-size: 20px;
                margin-left: 35px;
                align-self: center;
                padding: 1em;
            }

            .image{
                border:3px solid black;
                border-radius: 5px;
                border-width: 1.5px;
                border-spacing: 1px;
                max-width: 80px; 
                max-height: 80px;
                margin-left: 15px;
                align-self: center;

            }

            .product-name{
                font-size: 20px;
                justify-self: center;
                align-self: center;
                
            }

            .base-price{           
                font-size: 16px;
                justify-content: center;
                align-self: center;

            }

            .final-price{
                font-size: 16px;
                justify-content: center;
                align-self: center;
            }

    
